In [1]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn import preprocessing
%matplotlib inline

In [2]:
df = pd.read_csv('customer_purchases.csv')

In [3]:
df.head()

   Age  Salary  Purchased
0   19   19000          0
1   35   20000          0
2   26   43000          0
3   27   57000          0
4   19   76000          0

In [4]:
df.tail()

     Age  Salary  Purchased
395   46   41000          1
396   51   23000          1
397   50   20000          1
398   36   33000          0
399   49   36000          1

In [5]:
df.describe()

              Age         Salary   Purchased
count  400.000000     400.000000  400.000000
mean    37.655000   69742.500000    0.357500
std     10.482877   34096.960282    0.479864
min     18.000000   15000.000000    0.000000
25%     29.750000   43000.000000    0.000000
50%     37.000000   70000.000000    0.000000
75%     46.000000   88000.000000    1.000000
max     60.000000  150000.000000    1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        400 non-null    int64
 1   Salary     400 non-null    int64
 2   Purchased  400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [7]:
df['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split 
from sklearn.neighbors import KNeighborsClassifier

In [12]:
x = df.iloc[:, [0,1]].values
y = df.iloc[:, -1].values

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [14]:
from sklearn.preprocessing import StandardScaler

In [15]:
sc_x = StandardScaler()

In [16]:
x_train  = sc_x.fit_transform(x_train)

In [17]:
x_test = sc_x.fit_transform(x_test)

In [18]:
knn = KNeighborsClassifier(n_neighbors=7)

In [19]:
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [21]:
y_pred = knn.predict(x_test)

In [22]:
from sklearn import metrics
print("Train set Accuracy: ", metrics.accuracy_score(y_train, knn.predict(x_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, y_pred))

Train set Accuracy:  0.9333333333333333
Test set Accuracy:  0.87